<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" />
    <title>직업 채용 정보 검색 사이트</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
</head>
<body>
    <main>
        <h1>직업 채용 검색</h1>
        <h4>어떤 직업을 원하시나요?</h4>
        <form action="/search">
        <input type="text" name="keyword" placeholder="여기에 입력해주세요 :)" />
        <label for="terms">
          <input required type="checkbox" id="terms" name="terms" />
          <strong>I agree to the Terms and Conditions:</strong>
          <small>
            이 스크래퍼는 오직 교육용입니다. 악의적으로 사용하지 마십시요.
          </small>
        </label>
        <button>Search!</button>
    </main>
    </form>
  </body>
</html>