<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>직업 채용 정보 검색</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>"{{keyword}}에 대한 검색결과 : "</h1>
        <a target="_blank" href="/export?keyword={{keyword}}"
          >검색 결과 엑셀로 다운받기</a
        >
      </hgroup>
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th>Title</th>
              <th>Company</th>
              <th>Location</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <td><strong>{{job.title}}</strong></td>
              <td>{{job.company}}</td>
              <td>{{job.location}}</td>
              <td>
                <a
                  href="{{job.link}}"
                  role="button"
                  class="contrast outline"
                  target="_blank"
                  data-tooltip="Apply Now!"
                  data-placement="right"
                  >Apply&rarr;</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
